<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="citu.teknoybuyandselluser" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password" >
        </activity>
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name=".SellItemsActivity"
            android:label="@string/title_activity_sell_items" >
        </activity>
        <activity
            android:name=".PendingItemsActivity"
            android:label="@string/title_activity_pending_items" >
        </activity>
        <activity
            android:name=".BuyItemsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_buy_items"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" >
            </meta-data>
        </activity>
        <activity
            android:name=".ShoppingCartActivity"
            android:label="@string/title_activity_shopping_cart" >
        </activity>
        <activity
            android:name=".DonateItemsActivity"
            android:label="@string/title_activity_donate_items" >
        </activity>
        <activity
            android:name=".StarsCollectedActivity"
            android:label="@string/title_activity_stars_collected" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SellItemActivity"
            android:label="@string/title_activity_sell_item" >
        </activity>
        <activity
            android:name=".SellItemDetailsActivity"
            android:label="@string/title_activity_sell_item_details" >
        </activity>
        <activity
            android:name=".BuyItemActivity"
            android:label="@string/title_activity_buy_item" >
        </activity>
        <activity
            android:name=".ReservedItemActivity"
            android:label="@string/title_activity_reserved_item" >
        </activity>
        <activity
            android:name=".DonateItemActivity"
            android:label="@string/title_activity_donate_item" >
        </activity>
        <activity
            android:name=".DonateItemDetailsActivity"
            android:label="@string/title_activity_donate_item_details" >
        </activity>
        <activity
            android:name=".DonationsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_all_donations"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" >
            </meta-data>
        </activity>
        <activity
            android:name=".DonatedItemActivity"
            android:label="@string/title_activity_donated_item" >
        </activity>
        <activity
            android:name=".PendingItemActivity"
            android:label="@string/title_activity_pending_item" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".MyItemsActivity"
            android:label="@string/title_activity_my_items" >
        </activity>
        <activity
            android:name=".ReservedItemsActivity"
            android:label="@string/title_activity_reserved_items" >
        </activity>
        <activity
            android:name=".MakeTransactionsActivity"
            android:label="@string/title_activity_make_transactions" >
        </activity>
    </application>

</manifest>
