<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="citu.teknoybuyandselluser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".UserApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/title_activity_notifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StarsCollectedActivity"
            android:label="@string/title_activity_stars_collected"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SellItemActivity"
            android:label="@string/title_activity_sell_item"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SellItemDetailsActivity"
            android:label="@string/title_activity_sell_item_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuyItemActivity"
            android:label="@string/title_activity_buy_item"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReservedItemActivity"
            android:label="@string/title_activity_reserved_item"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DonateItemActivity"
            android:label="@string/title_activity_donate_item"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DonateItemDetailsActivity"
            android:label="@string/title_activity_donate_item_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DonationsActivity"
            android:label="@string/title_activity_all_donations"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DonatedItemActivity"
            android:label="@string/title_activity_donated_item"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PendingItemActivity"
            android:label="@string/title_activity_pending_item"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyItemsActivity"
            android:label="@string/title_activity_my_items"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReservedItemsActivity"
            android:label="@string/title_activity_reserved_items"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MakeTransactionsActivity"
            android:label="@string/title_activity_make_transactions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForRentItemActivity"
            android:label="@string/title_activity_for_rent_item"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RentItemDetailsActivity"
            android:label="@string/title_activity_rent_item_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RentItemActivity"
            android:label="@string/title_activity_rent_item"
            android:screenOrientation="portrait" />
        <activity android:name=".RentedItemDetailActivity" />
        <activity android:name=".SearchActivity" />

        <service
            android:name=".services.ExpirationCheckerService"
            android:exported="false" />
        <service
            android:name=".services.LoginService"
            android:exported="false" />
        <service
            android:name=".services.NotificationService"
            android:exported="false" />
        <service
            android:name=".services.PendingItemsService"
            android:exported="false" />
        <service
            android:name=".services.ItemsToSellService"
            android:exported="false" />
        <service
            android:name=".services.ItemsForRentService"
            android:exported="false" />
        <service
            android:name=".services.ItemsToDonateService"
            android:exported="false" />
        <service
            android:name=".services.RentedItemsService"
            android:exported="false"/>
        <service
            android:name=".services.ReservedItemsOnSaleService"
            android:exported="false"/>
        <service
            android:name=".services.ReservedItemsForRentService"
            android:exported="false"/>
        <service
            android:name=".services.ReservedItemsToDonateService"
            android:exported="false"/>
        <service
            android:name=".services.AllDonationsService"
            android:exported="false"/>
        <service
            android:name=".services.AvailableItemsToSellService"
            android:exported="false"/>
        <service
            android:name=".services.AvailableItemsForRentService"
            android:exported="false"/>
    </application>

</manifest>
